<launch>
  <!-- the following two nodes are from the inmoov example (https://github.com/MatthewVerbryke/inmoov_ros) -->
  
  <!--Broadcast static tf for robot root-->
  <!-- <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 map world 100"/> -->
  
  <!--Launch joint state publisher-->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> -->
  
  <!-- The planning and execution components of MoveIt! configured to 
  publish the current configuration of the robot (simulated or real) 
  and the current state of the world as seen by the planner -->
  <include file="$(find turtlebot_arm_moveit_config_4gazebo)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>
  
  <!-- The visualization component of MoveIt! -->
  <include file="$(find turtlebot_arm_moveit_config_4gazebo)/launch/moveit_rviz.launch"/>
</launch>